    Finished `dev` profile [unoptimized + debuginfo] target(s) in 0.27s
     Running `target/debug/configurator`
[configurator/src/node/from_json_schema.rs:17:9] &schema = RootSchema {
    meta_schema: Some(
        "http://json-schema.org/draft-07/schema#",
    ),
    schema: SchemaObject {
        metadata: Some(
            Metadata {
                id: None,
                title: Some(
                    "Config",
                ),
                description: None,
                default: None,
                deprecated: false,
                read_only: false,
                write_only: false,
                examples: [],
            },
        ),
        instance_type: Some(
            Single(
                Object,
            ),
        ),
        format: None,
        enum_values: None,
        const_value: None,
        subschemas: None,
        number: None,
        string: None,
        array: None,
        object: Some(
            ObjectValidation {
                max_properties: None,
                min_properties: None,
                required: {},
                properties: {
                    "opt": Object(
                        SchemaObject {
                            metadata: Some(
                                Metadata {
                                    id: None,
                                    title: None,
                                    description: None,
                                    default: Some(
                                        Null,
                                    ),
                                    deprecated: false,
                                    read_only: false,
                                    write_only: false,
                                    examples: [],
                                },
                            ),
                            instance_type: Some(
                                Vec(
                                    [
                                        Array,
                                        Null,
                                    ],
                                ),
                            ),
                            format: None,
                            enum_values: None,
                            const_value: None,
                            subschemas: None,
                            number: None,
                            string: None,
                            array: Some(
                                ArrayValidation {
                                    items: Some(
                                        Vec(
                                            [
                                                Object(
                                                    SchemaObject {
                                                        metadata: None,
                                                        instance_type: Some(
                                                            Single(
                                                                Array,
                                                            ),
                                                        ),
                                                        format: None,
                                                        enum_values: None,
                                                        const_value: None,
                                                        subschemas: None,
                                                        number: None,
                                                        string: None,
                                                        array: Some(
                                                            ArrayValidation {
                                                                items: Some(
                                                                    Single(
                                                                        Object(
                                                                            SchemaObject {
                                                                                metadata: None,
                                                                                instance_type: Some(
                                                                                    Single(
                                                                                        String,
                                                                                    ),
                                                                                ),
                                                                                format: None,
                                                                                enum_values: None,
                                                                                const_value: None,
                                                                                subschemas: None,
                                                                                number: None,
                                                                                string: None,
                                                                                array: None,
                                                                                object: None,
                                                                                reference: None,
                                                                                extensions: {},
                                                                            },
                                                                        ),
                                                                    ),
                                                                ),
                                                                additional_items: None,
                                                                max_items: None,
                                                                min_items: None,
                                                                unique_items: None,
                                                                contains: None,
                                                            },
                                                        ),
                                                        object: None,
                                                        reference: None,
                                                        extensions: {},
                                                    },
                                                ),
                                                Object(
                                                    SchemaObject {
                                                        metadata: None,
                                                        instance_type: Some(
                                                            Single(
                                                                Array,
                                                            ),
                                                        ),
                                                        format: None,
                                                        enum_values: None,
                                                        const_value: None,
                                                        subschemas: None,
                                                        number: None,
                                                        string: None,
                                                        array: Some(
                                                            ArrayValidation {
                                                                items: Some(
                                                                    Single(
                                                                        Object(
                                                                            SchemaObject {
                                                                                metadata: None,
                                                                                instance_type: Some(
                                                                                    Single(
                                                                                        String,
                                                                                    ),
                                                                                ),
                                                                                format: None,
                                                                                enum_values: None,
                                                                                const_value: None,
                                                                                subschemas: None,
                                                                                number: None,
                                                                                string: None,
                                                                                array: None,
                                                                                object: None,
                                                                                reference: None,
                                                                                extensions: {},
                                                                            },
                                                                        ),
                                                                    ),
                                                                ),
                                                                additional_items: None,
                                                                max_items: None,
                                                                min_items: None,
                                                                unique_items: None,
                                                                contains: None,
                                                            },
                                                        ),
                                                        object: None,
                                                        reference: None,
                                                        extensions: {},
                                                    },
                                                ),
                                            ],
                                        ),
                                    ),
                                    additional_items: None,
                                    max_items: Some(
                                        2,
                                    ),
                                    min_items: Some(
                                        2,
                                    ),
                                    unique_items: None,
                                    contains: None,
                                },
                            ),
                            object: None,
                            reference: None,
                            extensions: {},
                        },
                    ),
                },
                pattern_properties: {},
                additional_properties: None,
                property_names: None,
            },
        ),
        reference: None,
        extensions: {
            "X_CONFIGURATOR_SOURCE_HOME_PATH": String("/home/fedasus/SSD/Documents/configurator/configurator/test_configs/testing1.json"),
        },
    },
    definitions: {},
}
thread 'main' panicked at configurator/src/node/mod.rs:171:41:
index out of bounds: the len is 0 but the index is 0
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace
