[package]
name = "rust_schema"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true

[dependencies]
facet = "0.43.2"
serde = { workspace = true, features = ["derive"] }

[lints]
workspace = true
